@import '../../../scss/var.scss';
@import '../../../scss/border.scss';
@import '../../../scss/button.scss';


.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

}

.input{
    @include Text-font;
    @include border;
    width: 80%;
    padding: 10px !important;
    outline: none;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    &:focus{
        outline: 1px solid $secondary-color;
    }
}
.button{
    @include button;
    border-radius: 0;
    margin-left: 10px;
}



